@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    max-width: 1440px;
}
/*HEADER STYLES*/

header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background:  #3dbefd;
    width: 100%;
    align-items: center;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo a{
    color: #fff;
    text-transform: lowercase;
    margin-left: 30px;
    font-size: 22px;
    text-decoration: none;
}

nav{
    width: 40%;
    
}

.mobile__menu{
    position: relative;
    background: #fff;
    top: 80px;
    height: 200px;
    
    
}

.ul__mobile{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    font-family: 'Barlow', sans-serif;
    
}

.hidden{
    display: none;
}

.link__mobile{
    text-decoration: none;
    color: hsl(210, 4%, 67%);
    font-size: 18px;
}

.link__mobile:hover{
    cursor: pointer;
    border-bottom: 1px solid gray;
}

.active-mobile{
    background-color: #ffb901;
    color: black;
    padding: 12px 22px;
    border-radius: 20px;
    text-transform: uppercase;
}

.active-mobile:hover{
    background-color: #eec869;
    color: black;
    padding: 12px 22px;
    border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    
}

nav a{
    text-decoration: none;
    color: #fff;
}

nav a:hover{
    transition:all 0.5s ease;
    border-bottom: 2px solid #fff;
}
.active{
    background-color: #fff;
    color: black;
    padding: 12px 22px;
    border-radius: 20px;
}

.active:hover{
    background:#84caec;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 0;
}

.menu_icon{
    display: none;
}

.menu_icon:hover{
    transform: scale(1.1);
}

.menu_icon img{
    margin-right: 50px;
}
/*NAV MEDIA QUERIES*/
@media screen and (max-width:1000px){
    nav a{
        padding-right: 15px;
    }
}
@media screen and (max-width:768px){
    .desktop_menu{
        display: none;
    }

    .menu_icon{
        display: block;
        
    }

    .menu_icon:hover{
        cursor: pointer;
    }
}
/*HERO SECTION*/

.hero_section{
    background-image: url("/images/desktop/image-header.jpg");
    background-size: cover;
    background-position-y: 630px;
    background-position-x: center;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hero_section h1{
    text-align: center;
    padding-top: 140px;
    font-family: 'Fraunces', sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 38px;
    letter-spacing: 7px;
}

.hero_section img{
    margin: 30px auto;

}

.hero_section img:hover{
    transform: scale(1.1);
}

/*HERO SECTION MEDIA QUERIES*/
@media screen and (max-width:375px){
    .hero_section{
        background-image: url("/images/mobile/image-header.jpg");
        background-size: cover;
        background-position-y: 430px;
        background-position-x: center;
        height: 400px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .hero_section h1{
        text-align: center;
        padding-top: 100px;
        font-family: 'Fraunces', sans-serif;
        text-transform: uppercase;
        color: #fff;
        font-size: 38px;
        letter-spacing: 7px;
    }
}

/*About Section*/
.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 0 auto;
}

.subcontainer11{
    background:hsl(0, 0%, 100%) ;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-container11{
    width: 85%;
    height: 80%;
}

.text-container11 h2{
    font-family: 'Fraunces', sans-serif;
    color: hsl(167, 40%, 24%);
    padding-top: 15px;
    padding-bottom: 30px;
    font-size: 25px;
}

.text-container11 p{
    font-family: 'Barlow', sans-serif;
    color: hsl(232, 10%, 55%);
    padding-bottom: 30px;
}
.text-container11 h3{
    font-family: 'Fraunces', sans-serif;
    color: hsl(167, 40%, 24%);
    text-transform: uppercase;
    font-size: 14px;
}
.subcontainer12{
    background-image: url("/images/desktop/image-stand-out.jpg");
    background-size: cover;
    background-position: center;
    height: 350px;
}

.subcontainer13{
    background-image: url("/images/desktop/image-graphic-design.jpg");
    background-size: cover;
    background-position: center;
    height: 350px;
    display: flex;
    justify-content: center;
    position: relative;
}

.textcontainer13{
    width: 85%;
    height: 40%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.textcontainer13 h3{
    font-family: 'Fraunces', sans-serif;
    color: hsl(167, 40%, 24%);
    padding-bottom: 15px;
}

.textcontainer13 p{
    font-family: 'Barlow', sans-serif;
    color: hsl(167, 40%, 24%);
    padding-bottom: 35px;
}

.subcontainer21{
    background-image: url("/images/desktop/image-transform.jpg");
    background-size: cover;
    background-position: center;
    height: 350px;
}

.subcontainer22{
    background:hsl(0, 0%, 100%) ;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subcontainer23{
    background-image: url("/images/desktop/image-photography.jpg");
    background-size: cover;
    background-position: center;
    height: 350px;
    display: flex;
    justify-content: center;
    position: relative;
}

.textcontainer23{
    width: 85%;
    height: 40%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.textcontainer23 h3{
    font-family: 'Fraunces', sans-serif;
    color: hsl(198, 62%, 26%);
    padding-bottom: 15px;
}

.textcontainer23 p{
    font-family: 'Barlow', sans-serif;
    color: hsl(198, 62%, 26%);
    padding-bottom: 35px;
}

/* MEDIA QUERIES ABOUT SECTION*/

@media screen and (max-width:768px){
    .about{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:375px) {
    .subcontainer12{
        background-image: url("/images/mobile/image-stand-out.jpg");
        background-size: cover;
        background-position: center;
        height: 300px;
    }
    .subcontainer13{
        background-image: url("/images/mobile/image-graphic-design.jpg");
        background-size: cover;
        background-position: center;
        height: 300px;
        
    }

    .subcontainer21{
        background-image: url("/images/mobile/image-transform.jpg");
        background-size: cover;
        background-position: center;
        height: 300px;
    }

    .subcontainer23{
        background-image: url("/images/mobile/image-photography.jpg");
        background-size: cover;
        background-position: center;
        height: 300px;
        
    }

    .subcontainer11,.subcontainer22{
        height: 300px;
    }
    .textcontainer13{
        width: 90%;
        height: 50%;
        
    }

    .textcontainer23{
        width: 90%;
        height: 45%;
    }
}

/*Testimonials Section*/
.testimonials{
    width: 80%;
    height: auto;
    margin: 0 auto;

}

.testimonials h2{
    font-family: 'Fraunces', sans-serif;
    font-size: 22px;
    text-align: center;
    padding: 50px 50px;
    color: hsl(232, 10%, 55%);
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-top: 80px;
}
.testimonial_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin-left: 40px;
}

.testimonial{

    width: 80%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.desc{
    padding: 20px 20px;
    font-family: 'Barlow', sans-serif;
    color: hsl(232, 10%, 55%);
}

.name{
    padding-bottom: 8px;
    font-weight: 900;
    font-family: 'Fraunces', sans-serif;
    color: hsl(212, 27%, 19%);
}
.img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.img-tes1{
    background-image: url("/images/image-emily.jpg");
}
.img-tes2{
    background-image: url("/images/image-thomas.jpg");
}
.img-tes3{
    background-image: url("/images/image-jennie.jpg");
}
.work_title{
    font-size: 12px;
    font-family: 'Barlow', sans-serif;
    color: hsl(232, 10%, 55%);
}

/*Testimonial Queries*/
@media screen and (max-width:768px){
    .testimonial_container{
        grid-template-columns: 1fr ;
    }

    .testimonial{
        width:95%;
        height: 180px;
    }

    .img{
        height: 45px;
        width: 45px;
        
    }

    .desc{
        font-size: 13px;
        padding-bottom: 10px;
    }

    .name{
        font-size: 11px;
        padding-bottom: 10px;
    }
}

/*Section Images*/
.images__section{

    width: 100%;
    height: auto;
}

.images__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.images{
    height: 350px;
    background-position: center;
    background-size: cover;
}
.img__sec1{
    background-image: url("/images/desktop/image-gallery-milkbottles.jpg");  
}
.img__sec2{
    background-image: url("/images/desktop/image-gallery-orange.jpg");  
}
.img__sec3{
    background-image: url("/images/desktop/image-gallery-cone.jpg");  
}
.img__sec4{
    background-image: url("/images/desktop/image-gallery-sugarcubes.jpg");  
}

@media screen and (max-width:768px){
    .images__container{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:375px){
    .images{
        height: 200px;
    }
    .img__sec1{
        background-image: url("/images/mobile/image-gallery-milkbottles.jpg");  
    }
    .img__sec2{
        background-image: url("/images/mobile/image-gallery-orange.jpg");  
    }
    .img__sec3{
        background-image: url("/images/mobile/image-gallery-cone.jpg");  
    }
    .img__sec4{
        background-image: url("/images/mobile/image-gallery-sugar-cubes.jpg");  
    }
}

/*FOOTER STYLES*/
footer{
    background: #90d4c5;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

footer > h2{
    font-family: 'Barlow', sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-transform: lowercase;
    padding:50px 50px;
    color: #2d7665;
}

.footer__nav{
    width: 30%;
    height: auto;
}
.footer__nav2{
    width: 20%;
    height: auto;
    margin-top: 40px;
}
.footer__list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.footer__link{
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    color: #2d7665;
    font-size: 18px;
}

.footer__link:hover{
    cursor: pointer;
    border-bottom: 1.5px solid #2d7665;
}

/*Footer Media Queries*/

@media screen and (max-width:1000px){
    .footer__nav{
        width: 50%;
    }
    .footer__nav2{
        width: 40%;
    }
}

@media screen and (max-width:678px){
    .footer__nav{
        width: 60%;
    }
    .footer__nav2{
        width: 50%;
    }
}

@media screen and (max-width:375px){
    .footer__nav{
        width: 80%;
    }
    .footer__nav2{
        width: 50%;
    }
    .mobile__footer{
        display: none;
    }
}
/*ATTRIBUTION SECTION*/
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}